In [2]:
print('привет!')

привет!

In [3]:
print("4342")

4342

In [4]:
print("мне нужны 'одинарные' кавычки")

мне нужны 'одинарные' кавычки

In [5]:
print('мне нужны "двойные" кавычки')

мне нужны "двойные" кавычки

In [6]:
print('Первая строка')
print('Вторая строка')

Первая строка
Вторая строка

In [15]:
print('1', "2", "asdhah")

1 2 asdhah

In [8]:
"ksjdhfkshdf"

'ksjdhfkshdf'

In [10]:
"hidden"
"shown"

'shown'

In [14]:
print("first row \nsecond row")

first row
second row

In [16]:
2 + 2

4

In [17]:
2+2

4

In [18]:
2                  +                     2

4

In [19]:
5 - 3

2

In [20]:
3.5 * 2

7.0

In [21]:
3/4

0.75

In [22]:
1/3

0.3333333333333333

In [23]:
(2+2)*2

8

In [24]:
2+2*2

6

In [25]:
7 ** 2

49

In [26]:
14 ** 23

229585692886981495482220544

In [27]:
3/0

ZeroDivisionError: division by zero

In [28]:
1e-3, 3e-8, 1e+6

(0.001, 3e-08, 1000000.0)

In [29]:
10**-3

0.001

In [31]:
3*10**-8

3.0000000000000004e-08

In [32]:
7 // 2

3

In [33]:
7 / 2

3.5

In [34]:
7 % 2

1

In [36]:
print("2+2=", 2+2)

2+2= 4

In [37]:
abs(-3)

3

# Variables

In [44]:
x = 3
# x = 5

In [40]:
type(x)

int

In [41]:
y = 453.3

In [43]:
type(y)

float

In [45]:
z = x + y
print(x + y)

456.3

In [46]:
type(z)

float

In [49]:
type(print)

builtin_function_or_method

In [50]:
type(type)

type

In [51]:
x = 5
x = x + 1
print(x)

6

In [53]:
x = 3
y = x
x = 2
print('y = ', y)
print('x = ', x)

y =  3
x =  2

In [54]:
s = "print!"

In [55]:
type(s)

str

In [57]:
x

2

In [59]:
x = 2
type(x)

int

In [60]:
s = "hello"

In [61]:
s + x

TypeError: can only concatenate str (not "int") to str

In [64]:
x = 3
type(x)

int

In [67]:
y = str(x)
print(type(y))

<class 'str'>

In [68]:
y

'3'

In [71]:
s1 = "privet "
s2 = 'droog'
print(s1+s2)

privet droog

In [72]:
print(s2+s1)

droogprivet

In [73]:
s1 - s2

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [74]:
s1 * s2

TypeError: can't multiply sequence by non-int of type 'str'

In [76]:
s1 * 100

'privet privet privet privet privet privet privet privet privet privet privet privet privet privet privet privet privet privet privet privet privet privet privet privet privet privet privet privet privet privet privet privet privet privet privet privet privet privet privet privet privet privet privet privet privet privet privet privet privet privet privet privet privet privet privet privet privet privet privet privet privet privet privet privet privet privet privet privet privet privet privet privet privet privet privet privet privet privet privet privet privet privet privet privet privet privet privet privet privet privet privet privet privet privet privet privet privet privet privet privet '

In [77]:
s = "127.7328"
type(s)

str

In [78]:
x = float(s)
print(x)
print(type(x))

127.7328
<class 'float'>

In [79]:
s = "priver!"
float(s)

ValueError: could not convert string to float: 'priver!'

In [80]:
s = "p 3910"
float(s)

ValueError: could not convert string to float: 'p 3910'

In [81]:
x = True
y = False

In [82]:
x

True

In [83]:
y

False

In [84]:
type(x)

bool

In [85]:
not x

False

In [86]:
not y

True

In [87]:
x = True
y = False

In [88]:
x and y

False

In [89]:
False and False

False

In [90]:
False and True

False

In [91]:
True and True

True

In [92]:
x or y

True

In [93]:
y or x

True

In [94]:
2+3, 3+2

(5, 5)

In [95]:
x = True
y = False
print(x or y)

True

In [96]:
print(y or x)

True

In [97]:
print('False and False = ', False and False)
print('True and False = ', True and False)
print('False and True = ', False and True)
print('True and True = ', True and True)

False and False =  False
True and False =  False
False and True =  False
True and True =  True

In [98]:
print('False or False = ', False or False)
print('True or False = ', True or False)
print('False or True = ', False or True)
print('True or True = ', True or True)

False or False =  False
True or False =  True
False or True =  True
True or True =  True

In [99]:
x = False
y = False
print(y or x)

False

In [103]:
print(type(True))

<class 'bool'>

In [104]:
None

In [105]:
type(None)

NoneType

In [107]:
print(None)

None

In [108]:
s = ''
type(s)

str

In [110]:
y = print(2+3)

5

In [111]:
y

In [113]:
type(y)

NoneType

In [114]:
print(y)

None

In [117]:
x = 3
y = x
x = 5
print('x = ', x)
print('y = ', y)

x =  5
y =  3

# Containers

In [119]:
type(()), type([]), type({}), type(set())

(tuple, list, dict, set)

## List

In [120]:
x = [2, 3, 6, 9, -2, .8232]

In [121]:
print(x)

[2, 3, 6, 9, -2, 0.8232]

In [122]:
type(x)

list

In [124]:
x = [1, "34e23", "dasdas", '', None, [3,2]]

In [125]:
x

[1, '34e23', 'dasdas', '', None, [3, 2]]

In [130]:
x = ['Yana', 'Ilya', 'Lena']

In [131]:
len(x)

3

In [132]:
x[0]

'Yana'

In [133]:
x[1]

'Ilya'

In [134]:
x[2]

'Lena'

In [136]:
x[-1]

'Lena'

In [137]:
x[-2]

'Ilya'

In [138]:
x[-3]

'Yana'

In [142]:
x[len(x) - 1]

'Lena'

In [143]:
len(x) - 1

2

In [146]:
x[-1]

'Lena'

In [151]:
lst = [1,
       2, 
       [3, 4, 5, 6]]

In [150]:
len(lst)

3

In [152]:
lst[-1]

[3, 4, 5, 6]

In [155]:
lst[-1][-1]

6

In [154]:
lst[2]

[3, 4, 5, 6]

In [156]:
lst2 = [1,2,3]

In [157]:
lst2[-1][-1]

TypeError: 'int' object is not subscriptable

In [158]:
x = ['a','b','c','d','e']

In [159]:
x[:3]

['a', 'b', 'c']

In [160]:
x[1:4]

['b', 'c', 'd']

In [161]:
x[1:3]

['b', 'c']

In [162]:
x = []
len(x)

0

In [165]:
type(x)

list

In [166]:
x.append(3)

In [167]:
x

[3]

In [168]:
x.append(234872)

In [169]:
x

[3, 234872]

In [170]:
del x[0]

In [171]:
x

[234872]

In [173]:
x = [1,2,3,1,1,1,2]

In [174]:
x.count(1)

4

In [175]:
x.count(3)

1

In [176]:
x.count(0)

0

In [177]:
x.sort()

In [178]:
x

[1, 1, 1, 1, 2, 2, 3]

In [180]:
?x.sort

In [181]:
x.sort(reverse = True)

In [182]:
x

[3, 2, 2, 1, 1, 1, 1]

In [183]:
x[::-1]

[1, 1, 1, 1, 2, 2, 3]

In [184]:
x[1:5:2]

[2, 1]

In [185]:
x[:]

[3, 2, 2, 1, 1, 1, 1]

In [186]:
x[::]

[3, 2, 2, 1, 1, 1, 1]

In [200]:
x = [1,2,3]

In [201]:
x[:]

[1, 2, 3]

In [202]:
x[::]

[1, 2, 3]

In [203]:
len(x)

3

In [194]:
x[0:len(x):1]

[1, 2, 3]

In [195]:
x

[1, 2, 3]

In [196]:
x = ['a','b','c']

In [197]:
x.remove('b')

In [198]:
x

['a', 'c']

In [205]:
x = ['a','b','c']
y = x
x = [1,2,3]
print('x=',x)
print('y=',y)

x= [1, 2, 3]
y= ['a', 'b', 'c']

In [208]:
s = "privet elena"

In [209]:
s[1:4]

'riv'

In [210]:
s[::-1]

'anele tevirp'

In [215]:
x = ['a', 'b', 'c']
x[1] = 'zzz'
print(x)

['a', 'zzz', 'c']

In [216]:
x[-1] = 'ooo'
print(x)

['a', 'zzz', 'ooo']

In [217]:
type(()), type([]), type({}), type(set())

(tuple, list, dict, set)

## Tuple

In [218]:
x = ('a', 'b', 'c')

In [219]:
x

('a', 'b', 'c')

In [220]:
x[0]

'a'

In [221]:
x[:2]

('a', 'b')

In [222]:
x[::-1]

('c', 'b', 'a')

Tuple is immutable

In [223]:
x[0] = 2

TypeError: 'tuple' object does not support item assignment

In [224]:
s = 'privet elena'

In [225]:
s[3] = 'o'

TypeError: 'str' object does not support item assignment

In [226]:
type(x)

tuple

In [227]:
type(()), type([]), type({}), type(set())

(tuple, list, dict, set)

## Set

In [246]:
x = set()

In [247]:
y = ('1', 'a', '5')

In [248]:
x = set(y)
x

{'1', '5', 'a'}

In [249]:
y = [1,1,1,2,3]
x = set(y)
x

{1, 2, 3}

In [250]:
x = set(['a', 'b', 'c'])
x

{'a', 'b', 'c'}

In [251]:
x = set(['b', 'a', 'c'])
x

{'a', 'b', 'c'}

In [240]:
x[2]

TypeError: 'set' object is not subscriptable

In [237]:
x.remove('a')

In [238]:
x

{'b', 'c'}

In [241]:
x.add('d')

In [243]:
x

{'b', 'c', 'd'}

In [244]:
x.add('d')

In [245]:
x

{'b', 'c', 'd'}

In [256]:
x = set(('Lena', 'Ilya', 'Yana', 'Joe', 3))

In [257]:
x

{3, 'Ilya', 'Joe', 'Lena', 'Yana'}

In [258]:
len(x)

5

In [259]:
type(()), type([]), type({}), type(set())

(tuple, list, dict, set)

## Dictionary

In [264]:
x = {
    'Lena': 'Zakharova',
    'Yana': 'Tsymbalova',
    'Ilya': 'Litvinov',
    'Nikita': 'Litvinov'
}

In [265]:
x

{'Lena': 'Zakharova',
 'Yana': 'Tsymbalova',
 'Ilya': 'Litvinov',
 'Nikita': 'Litvinov'}

In [266]:
x['Lena']

'Zakharova'

In [268]:
x = {
    'Lena': [26, 'Zakharova', 'Швейцария'],
    'Yana': [26, 'Tsymbalova', 'Россия', 'Married']
}

In [269]:
x

{'Lena': [26, 'Zakharova', 'Швейцария'],
 'Yana': [26, 'Tsymbalova', 'Россия', 'Married']}

In [270]:
info = {
    'Lena': {
        'surname': 'Zakharova',
        'age': 26,
        'PhD year': 3
    },
    'Zhenya': {
        'is_sexy': True
    }
}

In [271]:
info

{'Lena': {'surname': 'Zakharova', 'age': 26, 'PhD year': 3},
 'Zhenya': {'is_sexy': True}}

In [274]:
info['Lena']['age']

26

In [275]:
info['Zhenya']['is_sexy'] = False

In [276]:
info

{'Lena': {'surname': 'Zakharova', 'age': 26, 'PhD year': 3},
 'Zhenya': {'is_sexy': False}}

In [277]:
x = {
    (0,0): 2,
    (1,2): 7
}

In [278]:
x = {
    [0,0]: 2,
    [1,2]: 7
}

TypeError: unhashable type: 'list'

In [279]:
len(x)

2

In [282]:
x = {
    1: 'a', 2: 'b'
}
y = x
x = {}
print('x = ', x)
print('y = ', y)

x =  {}
y =  {1: 'a', 2: 'b'}

In [283]:
type(x)

dict

In [285]:
x = {
    1: 'a', 2: 'b'
}

In [286]:
x.keys()

dict_keys([1, 2])

In [287]:
x.values()

dict_values(['a', 'b'])

In [288]:
x_set = set([1, 2, 3])
x_list = ['a', 'b', 'c']
x_tuple = (1.5, 2.5, 3.5)
x_dict = {'key1': 'value1', 
          'key2': 'value2'}

In [295]:
y = tuple(x_list)
y

('a', 'b', 'c')

In [296]:
type(y)

tuple

In [294]:
x = {1, 2, 3}
type(x)

set

In [289]:
1 in x_set

True

In [290]:
0 in x_set

False

In [291]:
'key1' in x_dict

True

In [292]:
'value1' in x_dict

False

In [297]:
x = 2
y = 3
x == y

False

In [298]:
x = 2
y = 2
x == y

True

In [299]:
[] == []

True

In [300]:
[1,2] == [2,1]

False

In [301]:
{1,2} == {2,1}

True

In [302]:
(1,2) == (2,1)

False

In [304]:
{1:0, 2:0} == {1:0, 2:0}

True

In [305]:
{1:0, 2:0} == {2:0, 1:0}

True

In [306]:
None == None

True

In [307]:
3 != 2

True

In [308]:
not(3 == 2)

True